/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*------------ 0. Reinicio ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ 1. Fuentes ---------------- */ 

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');


/*------------ 2. Body ---------------- */

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 20px;
    background-color: #111111;
}

.header{
    background-image: linear-gradient(to right bottom,#6444bdb0, #bdabeeab), url(../assets/images/hero.jpg);
    height: 95vh;
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
}

.logo-box{
    position: absolute;
    top: -30px;
    left: 10px;
}

.logo{
    height: 200px;
}